.sub-nav {
    display: flex;
    background-color: var(--s1);
    margin-right: 35px;
}

.sub-nav-ul {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sub-nav-link {
    padding: var(--small2) 20px;
    font-size: var(--small2);
    color: var(--text);
    text-decoration: none;
    cursor: pointer;
    border-left: 2px solid transparent;
}

.sub-nav-link:hover,
.sub-nav-link.active {
    background-color: var(--BGC);
    color: var(--primary);
    border-left: 2px solid var(--primary);
    transition-duration: var(--transition);
}