.endorsement-container {
    display: flex;
    width: 100%;
    align-items: center;
    border: 2px solid var(--s3);
    margin-bottom: 20px;
}

.value-remove-container {
    width: 12%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: var(--small1);
}

.endorsement-value {
    font-weight: bold;
    padding-bottom: 10px;
}

.link-container {
    font-size: 10px;
}

.details-dates-container {
    width:88%;
}

.endorsement-details {
    font-size: 10px;
    border: 1px solid var(--s3);   
    padding: var(--small1);
}

.endorsement-date-container,
.endorsement-point-container {
    border: 1px solid var(--s3);   
    padding: var(--small1);
    display: flex;
    flex-direction: column;
}

.endorsement-date,
.endorsement-points {
    color: var(--text2);
    padding-bottom: 5px;
}

.endorsement-direction {
    flex-direction: column;
}

.endorsement-selection-container {
    margin-left: 20px;
}

.shorter-date-input,
.offense-date-endorsement {
    width: 150px;
}

.empty-link-disabled {
    color: transparent;
}

.file-input-container {
    height: 30px;
    display: flex;
    align-items: center;
}