.candidates-detail-container {
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 var(--big3);
}

.candidates-details-bottom-container {
    display: flex;
}

.candidate-details-left-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 30%;
    padding: 0 14px;
}

.candidate-details-center-container {
    display: flex;
    justify-content: center;
    width: 70%;
}

.candidate-page-left-container {
    width: 5%;
}

.candidate-page-right-candidate {
    width: 95%;
}

.candidate-page-button-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* 

.card-detail-title {
    display: flex;
}

.card-container {
    padding-top: var(--big3);
    padding-bottom: var(--big3);
    background-color: var(--s1);
    margin-bottom: var(--big2);
}

.card-title {
    padding: var(--small2);
    background-color: var(--s2);
}

.detail-container {
    display: flex; 
    padding: var(--small2) 0;
    justify-content: center;
    align-items: flex-start;
}

.detail-label {
    padding: 4px var(--med1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 180px;
}

.detail-answer,
.rad-detail-answer {
    padding: 0 var(--med1);
    width: 350px;
    display: flex;
    align-items: flex-start;
}

.answer-border {
    padding: var(--small2);
    width: 200px;
    border: 2px solid var(--s1);
    border-radius: 5px;
    padding: 4px;
    height: 25px;
}

.rad-detail {
    display: flex;
    border: 2px solid var(--s2);
    padding: var(--small2);
    width:  200px;
}

.check-detail {
    display: flex;
    border: 2px solid var(--s2);
    width: 100px;
    padding: var(--small1);
}

.rad-detail-input {
    margin-right: 14px;
}

.email-answer {
    width: 80%;
}

.edit-button-container {
    padding: var(--med1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85px;
    position: fixed;
    left: 30%;
} */