.work-history-container {
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 20%;
}

.add-work-history-button-container {
    padding: 0 var(--med1) var(--med1) 0;
}

.work-history-modal {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
}

.modal-content {
    background-color: transparent;
    width: 45%;
    max-height: 95%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: var(--small2);
}

.modal-content::-webkit-scrollbar {
    width: 0.4em;
}
  
.modal-content::-webkit-scrollbar-track {
    background: transparent;
}
  
.modal-content::-webkit-scrollbar-thumb {
    background: transparent;
}

.modal-content {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.modal-title-container {
    display: flex;
}

.modal-title {
    padding: var(--small2);
    background-color: var(--s2);
}

.modal-card-container {
    background-color: var(--s1);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
}

.modal-detail-row {
    display: flex;
}

.modal-single-detail-container {
    padding: var(--small2);
    display: flex;
    flex-direction: column;
}

.modal-detail-label {
    /* border: 1px solid white; */
    padding: 0 0 10px 0;
}

.modal-detail-input-container {
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.modal-detail-input,
.modal-detail-input-date {
    width: 100%;
    background-color: var(--BGC);
    color: var(--text);
    border: 1px solid var(--s2);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: var(--font);
    font-size: var(--med1);
    height: 30px;
}

.modal-detail-input-date {
    width: auto;
}

.modal-detail-input:focus,
.modal-detail-input-date:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--secondary)
}

.checkbox-container {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.modal-checkbox-label {
    padding-left: 10px;
}

.disabled {
    background-color: var(--s1);
    color: var(--s2);
}

.modal-text-area {
    height: 50px;
}

.modal-subtitle-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 0 var(--med2) 20px;
    font-weight: bold;
}

#modal-button-container {
    display: flex;
    justify-content: center;
    padding: 10px 0 var(--big1) 0;
}

.modal-button-container {
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.work-history-card {
    background-color: var(--s2);
    margin-bottom: 10px;
}

.work-history-table-header {
    display: flex;
    background-color: var(--s1);
    margin-bottom: 10px;
    font-size: 11px;
}

.work-history-table-data {
    padding: var(--small1);
}

.expanding-container {
    background-color: var(--s1);
    padding: var(--med1);
}

.wh-col-one {
    width: 20%;
}

.wh-col-two {
    width: 15%;
}

.wh-col-three {
    width: 12.5%;
}

.wh-col-four {
    width: 16.5%;
}

.wh-col-five {
    width: 8%;
    display: flex;
    justify-content: center;
}

.wh-col-six {
    width: 8%;
    display: flex;
    justify-content: center;
}

.wh-col-seven {
    width: 6.66%;
    display: flex;
    justify-content: center;
}

.wh-col-eight {
    width: 6.66%;
    display: flex;
    justify-content: center;
}

.wh-col-nine {
    width: 6.66%;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.work-history-table-row,
.work-history-table-expanded-row {
    display: flex;
    align-items: center;
    font-size: 11px;
}

.work-history-table-expanded-row {
    margin: 10px 0;
}

.tick-icon {
    font-size: 20px;
}

.wh-expanding-label-row-one {
    /* border: 1px solid red; */
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.wh-expanded-answers-row-one {
    /* border: 1px solid white; */
    width: 80%;
    display: flex;
}

.wh-expanding-answer,
.wh-expanding-answer-larger,
.wh-expanding-answer-smaller  {
    padding: 5px;
    border-radius: 5px;
    background-color: var(--s3);
    width: 100%;
    padding: 8px 12px;
}

.wh-expanding-answer-larger {
    height: 50px;
}

.wh-expanding-answer-smaller {
    width: 60%;
}

.wh-ref-expanding {
    display: flex;
}

.wh-ref-expanding-half {
    border: 1px solid white;
    width: 50%;
    display: flex;
    align-items: center;
}

.wh-ref-label {

}