/* NAV CONTAINER */
.nav {
    background-color: var(--s1);
    position: fixed;
    height: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}


/* CTRECS LOGO */
img {
    width: 60px;
}


/* NAVIGATION LINKS */
.nav-ul,
.nav-settings-container {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: var(--small2) 0;
}

.nav-link,
.settings-link {
    text-decoration: none;
    color: var(--text);
    padding: var(--med2) 0;
    font-size: var(--med2);
    display: flex;
    justify-content: center;
}

.nav-link:hover {
    cursor: pointer;
    border-left: 3px solid var(--primary);
    background-color: var(--BGC);   
    transition-duration: var(--transition);
    color: var(--primary);
}

.nav-link.active {
    border-left: 3px solid var(--primary);
    background-color: var(--BGC);   
    color: var(--primary)
}

/* SETTINGS LINK */
.nav-settings-container {
    position: fixed;
    bottom: 20px;
    width: 60px;
}

.settings-link:hover {
    color: var(--primary);
}

.settings-link:active {
    color: var(--BGC);
}