
.candidate-details-edit-input {
    background-color: var(--BGC);
    color: var(--text);
    border: 2px solid var(--s2);
    border-radius: 5px;
    width: 200px;
    padding: 2.7px;
}

/* .candidate-details-edit-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
} */