
.candidate-details-edit-input {
    background-color: var(--BGC);
    color: var(--text);
    border: 2px solid var(--s2);
    border-radius: 5px;
    width: 200px;
    padding: 2.7px;
}

/* .candidate-details-edit-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
} */

.rad-detail-edit {
    background-color: var(--BGC);
}

.save-button-container {
    display: flex;
    justify-content: center;
}

.check-detail-longer {
    width: 200px;
}

.medical-card-container {
    display: flex;
    flex-direction: column;
    padding-top: var(--big3);
    padding-bottom: var(--big3);
    background-color: var(--s1);
    margin-bottom: var(--big2);
}

.questionnaire-title {
    padding: var(--med1) var(--big1);
    display: flex;
}

.medical-detail-container {
    display: flex;
}