.candidate-page-full-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65%;
}

.card-detail-title {
    display: flex;
}

.card-title {
    padding: var(--small2);
    background-color: var(--s2);
}

.candidate-page-card-container {
    padding-top: var(--big3);
    padding-bottom: var(--big3);
    background-color: var(--s1);
    margin-bottom: var(--big2);
    display: flex;
    flex-direction: column;
}

.candidate-page-detail-container {
    display: flex;
    /* border: 1px solid white; */
    justify-content: flex-start;
    padding: var(--med1);
}
.candidate-page-detail-label {
    /* border: 1px solid red; */
    width: 35%;
    display: flex; 
    justify-content: flex-end;
    padding-top: 5px;
}

.candidate-page-detail-answer {
    /* border: 1px solid blue; */
    width: 65%;
    display: flex;
    padding: 0 0 0 15px;
}

.candidate-page-detail-answer-container,
.candidate-page-detail-answer-container-date {
    width: 60%;
    height: 25px;
    border: 1px solid var(--s3);
    border-radius: 5px;
    padding: 6px 10px;
    background-color: var(--s3);
    height: 30px;
}

.candidate-page-input,
.candidate-page-input-date {
    width: 60%;
    background-color: var(--BGC);
    color: var(--text);
    border: 1px solid var(--s2);
    border-radius: 5px;
    padding: 5px 10px;
    font-family: var(--font);
    font-size: var(--med1);
    height: 30px;
}

.candidate-page-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--secondary)
}

.candidate-page-rad-answer-container,
.candidate-page-checkbox-container {
    margin: 0 50px var(--med2) 0;
    border-radius: 5px;
    background-color: var(--s3);
}

.candidate-page-rad-single-answer,
.candidate-page-checkbox-single-answer {
    border-bottom: 2px solid var(--BGC);
    padding: var(--small1);
    display: flex;
}

.candidate-page-rad-label,
.candidate-page-checkbox-label {
    padding: 0 0 0 var(--big3)
}

.candidate-page-rad-answer-edit,
.candidate-page-checkbox-answer-edit {
    background-color: var(--BGC);
}

/* 

.candidate-details-edit-input {
    background-color: var(--BGC);
    color: var(--text);
    border: 2px solid var(--s2);
    border-radius: 5px;
    width: 200px;
    padding: 2.7px;
}

.candidate-details-edit-input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--primary);
}

.rad-detail-edit {
    background-color: var(--BGC);
}

.save-button-container {
    display: flex;
    justify-content: center;
}

.check-detail-longer {
    width: 200px;
}

.medical-card-container {
    display: flex;
    flex-direction: column;
    padding-top: var(--big3);
    padding-bottom: var(--big3);
    background-color: var(--s1);
    margin-bottom: var(--big2);
}

.questionnaire-title {
    padding: var(--med1) var(--big1);
    display: flex;
}

.medical-detail-container {
    display: flex;
}

*/