/* CANDIDATE PAGE CONTAINERS */
.candidates-container {
    display: flex;
    justify-content: flex-start;
    padding-left: 15%;
    padding-top: var(--big3);
}

.candidates-left-container {
    padding-top: 50px;
}

.candidates-right-container {
    /* border: 1px solid white; */
    padding-right: 18%;
}