/* CANDIDATE PAGE CONTAINERS */

.candidates-left-container {
    width: 35%;
    display: flex;
    justify-content: flex-end;
    padding: 85px 25px 25px 0;
}

.candidates-right-container {
    width: 65%;
    display: flex; 
    justify-content: flex-start;
    padding: 85px 0 25px 25px;
}