.add-candidate-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    z-index: 1;
}

.top-container {
    width: 30%;
    margin: 10px 0;
    width: 100%;
}

.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.new-candidate-details-title {
    display: flex;
}

.form-box-title{
    padding: var(--med1);
    background-color: var(--s2);
}

.add-candidate-card {
    background-color: var(--s1);
    padding: 20px 0;
}

.add-candidate-detail-container {
    /* border: 1px solid red; */
    display: flex;
    align-items: flex-start;
    padding: var(--med1);
}

.add-candidate-label {
    /* border: 1px solid white; */
    width: 30%;
    display: flex; 
    justify-content: flex-end;
    padding-top: 5px;
}

.add-input-container {
    /* border: 1px solid yellowgreen; */
    width: 70%;
    display: flex;
    padding: 0 0 0 15px;
}

.add-candidate-input,
.add-candidate-input-date {
    background-color: var(--BGC);
    color: var(--text);
    border: 2px solid var(--s2);
    border-radius: 2px;
    padding: 4px 10px;
    width: 70%;
}

.add-candidate-input:focus,
.add-candidate-input-date:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--secondary)
}

.add-candidate-input::placeholder {
    font-size: 0.9rem;
    font-style: italic;
    padding-left: 5px;
}

.add-rad-single-answer {
    border: 2px solid var(--s3);
    padding: var(--small1);
}

.add-rad-label {
    padding: 0 0 0 var(--big3)
}

.create-button-container {
    display: flex;
    justify-content: center;
    padding: var(--med1)
}