.candidates-list-container {
    width: 77%;
}

/* top buttons */
.create-candidate-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

/* Candidate list display */
.candidate-card-link {
    color: var(--text);
    text-decoration: none;
}

.candidate-details-card {
    display: flex;
    justify-content: space-between;
    background-color: var(--s1);
    margin-bottom: 15px;
}

.candidate-details-card:hover {
    background-color: var(--s2);
}

.candidateList-column {
    /* border: 1px solid blue; */
    padding: 10px 0;
}

.first-three-columns {
    display: flex;
    padding: 0 0 0 15px;
}

.candidate-list-single-detail {
    /* border: 1px solid red; */
    padding: 5px
}

.column-one {
    width: 200px;
}

.column-two {
    width: 130px;
}

.last-column {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 5px;
}


.p-top {
    font-weight: bold;
}

.name {
    text-decoration: underline;
}

.id-key {
    color: var(--primary);
    padding-right: 5px;
    font-weight: bold;
}

.archive-button {
    border: none;
    color: var(--secondary);
    background-color: transparent;
    font-size: var(--big1);
    z-index: 1;
}

.archive-button:hover {
    cursor: pointer;
    color: var(--primary)
}

.archived-candidate {
    background-color: var(--BGC);
    color: var(--s2);
}

.archived-span {
    color: var(--s2);
}

.archived-candidate:hover {
    background-color: var(--BGC);
}