/* Candidate list display */
.candidate-card-link {
    color: var(--text);
    text-decoration: none;
}

.candidate-details-card {
    margin: 0 var(--small1) var(--big3) var(--med2);
    display: flex;
    padding: 0 0 0 var(--med2);
    background-color: var(--s1);
    justify-content: space-between;
}

.candidate-details-card:hover {
    background-color: var(--s2);
}

.candidate-single-detail {
    padding: var(--small2)0 var(--small2) 0;
}

.first-column {
    width: 200px;
}

.second-column {
    width: 150px;
}

.third-column {
    width: 300px;
}

.candidate-card-details {
    display: flex;
    width: 120%
}

.p-top {
    font-weight: bold;
}

.name {
    text-decoration: underline;
}

.id-key {
    color: var(--primary);
    padding-right: 5px;
    font-weight: bold;
}

.candidate-archive-container {
    display: flex;
    align-items: flex-end;
    padding: 0 8px 4px 0;
}

.archive-button {
    border: none;
    color: var(--secondary);
    background-color: transparent;
    font-size: var(--big1);
    z-index: 1;
}

.archive-button:hover {
    cursor: pointer;
    color: var(--primary)
}

.archived-candidate {
    background-color: var(--BGC);
    color: var(--s2);
}

.archived-span {
    color: var(--s2);
}

.archived-candidate:hover {
    background-color: var(--BGC);
}