/* NAVIGATION CONTAINER */
.user-nav-container {
    padding: 12px 0 12px 80px;
    display: flex;
    justify-content: space-between;
}

/* TITLE TEXT */
.title-text {
    font-size: var(--big3);
    padding-bottom: var(--small1);
}

.weekday,
.date {
    font-size: var(--med1);
}

.date {
    color: var(--primary);
    font-weight: bold;
}


.user-container {
    display: flex;
    align-items: center;
    padding-right: var(--big3);
}

.user-name {
    padding: 0 12px;
}

.user-icon {
    width: 25px;
    height: 25px;
    background-color: var(--text);
    border-radius: 50%;
}