* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --BGC: #0D0D0D;
  --surf1: #191919;
  --surf2: #262626;
  --primary: #8FE9DB;
  --secondary: #AD87E7;
  --text: #CCCCCC;
  --textOnColor: #0E0E0E;
  --small1: 8px;
  --small2: 10px;
  --med1: 12px;
  --med2: 14px;
  --big1: 16px;
  --big2: 18px;
}

