* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --BGC: #0D0D0D;
  --s1: #191919;
  --s2: #262626;
  --s3: #323232;
  /* --primary: #6DECD8; */
  --primary: #88D4FF;
  --secondary: #0074FD;
  --text: #CCCCCC;
  --text2: #cccccc94;
  --textOnColor: #0E0E0E;
  --small1: 8px;
  --small2: 10px;
  --med1: 12px;
  --med2: 14px;
  --big1: 16px;
  --big2: 18px;
  --big3: 20px;
  --big4: 24px;
  --transition: 0.35s;
}

html {
  background-color: var(--BGC);
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  font-size: var(--med1);
  color: var(--text);
}

/* Hide scrollbar for Chrome, Safari and Opera 
=========================================================================== */
html::-webkit-scrollbar {
  width: 0.4em;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: transparent;
}

/* Hide scrollbar for Internet Explorer and Edge 
=========================================================================== */
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* UNIVERSAL BUTTONS */

.button-primary {
  background-color: var(--BGC);
  color: var(--text);
  border: 2px solid var(--secondary);
  border-radius: 4px;
  padding: 5px 10px;
}

.button-primary:hover {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--textOnColor);
  cursor: pointer;
  transition-duration: var(--transition);
}

.button-primary:active {
  background-color: var(--BGC);
  color: var(--text);
  border: 2px solid var(--secondary);
  transition-duration: 0ms;
}

.button-secondary {
  background-color: var(--BGG);
  color: var(--text);
  border: 2px solid var(--secondary);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
}

.button-secondary:hover {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  color: var(--textOnColor);
  cursor: pointer;
  transition-duration: var(--transition);
}

.button-secondary:active {
  background-color: var(--secondary);
  color: var(--textOnColor);
  border: 2px solid var(--secondary);
  transition-duration: 0ms;
}

.button-primary-secondary {
  background-color: var(--secondary);
  color: var(--textOnColor);
  border: 2px solid var(--secondary);
  border-radius: 4px;
  padding: 5px 10px;
}

/* UNIVERSAL LINK */
.link-primary {
  text-decoration: underline;
  color: var(--text);
  cursor: pointer;
}

.link-primary:hover {
  text-decoration: none;
  color: var(--primary);
  transition-duration: var(--transition);
}

.link-primary:active {
  color: var(--text);
  transition-duration: 0ms;
  text-decoration: underline;
}

.link-secondary {
  text-decoration: underline;
  color: var(--secondary);
  cursor: pointer;
}

.link-secondary:hover {
  text-decoration: none;
  color: var(--text);
  transition-duration: var(--transition);
}

.link-secondary:active {
  color: var(--secondary);
  transition-duration: 0ms;
  text-decoration: underline;
}

/* Main Content
=========================================================================== */

.main-content {
  /* border: 1px solid white; */
  margin-left: 60px;
  padding-top: 85px;
  display: flex;
  justify-content: center;
}